*{
    margin: 0;
    font-family: cursive;
}

img {
    cursor: pointer;
}

img[alt="family_pic"]{
    display: block;
    margin: auto;
    width: 70%;
}

span {
    position: absolute;    
    left: 35%;
    top: 50px;
    line-height: 30px;
}

div {
    padding: 12px;
}

div#second {
    position: sticky;
    top: 0;
    background-color: rgba(0,0,0,0.5);
}


p {
    text-align: justify;
    text-indent: 50px;

    
}

div#second h2 {
    text-align: right;
    letter-spacing: 6px;
}



div#not_second {
    background-color: whitesmoke;
}

h1{
    text-align: center;
    font-family: elephant;
    color: #1a6ead;
}

h3, ul {
    margin: 10px 0;
 }

