*{
    margin: 0;
    font-family: sans-serif;
}

img {
    cursor: pointer;
}

img[alt="family_pic"]{
    display: block;
    margin: auto;
    width: 70%;
}

span {
    position: absolute;
    
    left: 35%;
    top: 50px;
    line-height: 30px;
}

div {
    padding: 12px;
}

div#second {
    position: sticky;
    top: 0;
    background-color: #4efe3e;
}

p {
    text-align: justify;
    text-indent: 50px;
    
}

div#second h2 {
    text-align: right;
    letter-spacing: 6px;
    
}


div.not_second {
    background-color: yellow;
}
h3,ul{
    margin: 20px;
    color: blue
    ;
}